h3#basics Basics

p
 | Each game consists of a 2D, side-on view of both players and a barren wasteland between them. If you initiated
 | the game (e.g. you're the challenger), you'll be on the left hand side. If you accepted a challenge, you'll be
 | on the right. Using the following <a href="#controls">controls</a> you must aim and fire your weapon in an attempt to kill your
 | opponent as many times as possible.

h3#controls Controls

p In game control is handled exclusively by keyboard input. Put that mouse away!

table.zebra-striped
    thead
        tr
            th Key
            th Action
    tbody
        tr
            td Up arrow
            td Increase shot power
        tr
            td Down arrow
            td Decrease shot power
        tr
            td Left arrow
            td Rotate aim left
        tr
            td Right arrow
            td Rotate aim right
        tr
            td Space bar
            td <strong>Fire!</strong>
        tr
            td T
            td Start chat mode (<b>return key</b> to send)
        tr
            td ESC
            td Cancel chat mode

h3#rules Rules

p
 | Once a game has started, the rules are pretty simple &mdash; kill your opponent as many times as possible
 | before the time runs out! Each time you die, you will respawn on a different platform to the last, though
 | you will never change sides. Whoever has the most kills when the timer reaches zero is declared the winner.
