h3#cancellation Cancellation

p
 | If you or your opponent leave a game when the scores are even or the game has only recently begun then it will be cancelled.
 | Neither player will gain (or lose) any ranking, nor will either be awarded a win or a loss. The game will be recorded
 | with a <strong>cancelled</strong> outcome.

h3#forfeits Forfeits

p
 | If a player leaves a game when they are losing <strong>or</strong> the game has been underway for a certain amount of time
 | then they will forfeit the game. Their opponent will gain a rank and they themselves will lose one. Neither player will
 | be awarded a win or a loss. The game will be recorded with a <strong>forfeited by [username]</strong> outcome.

h3#sudden-death Sudden death

p
 | Should the scores be level when time runs out, sudden death mode will be declared. At this stage, the next person
 | to kill their opponent wins the game.

h3#rankings Rankings

p
 | Game rankings are gained by defeating your opponents. What you stand to gain &mdash; or lose &mdash;
 | depends on how your rank compares with your opponent. The following table illustrates how your ranking
 | will change if you win or lose a game:

table.zebra-striped
    thead
        tr
            th &nbsp;
            th You win
            th You lose
    tbody
        tr
            td <strong>Opponent ranked higher</strong>
            td +3
            td No change
        tr
            td <strong>Same rank as you</strong>
            td +2
            td -1
        tr
            td <strong>Opponent ranked lower</strong>
            td +1
            td -2

p As you can see, the points at stake encourage you to always take on a worthy challenger!
