ol
    li <a href="#challenging-an-opponent">Challenging an opponent</a>
    li <a href="#receiving-a-challenge">Receiving a challenge</a>
    li <a href="#chatting">Lobby chat</a>

h3#challeging-an-opponent Challenging an opponent

p
 | When you're in the lobby you'll see a list of all the other players
 | currently waiting to play, as well as a list of games currently in progress.
 | At this point, simply click on a user's name to challenge them to a duel -
 | before issuing the challenge you'll be given the opportunity to review
 | their <a href="/about#rankings">ranking</a> to see what's at stake.

h3#receiving-a-challenge Receiving a challenge

p
 | Hang around long enough and you'll probably receive a challenge - when you
 | do you won't be able to do anything until you've either accepted it or
 | declined it (boo, hiss). You'll be given information about your challenger's
 | <a href="/about#rankings">ranking</a> before you make your decision.

h3#chatting Lobby chat

p
 | If you don't fancy getting involved, you can while away the time chatting
 | to your fellow lobby dwellers. Even if nobody else is present, you'll always
 | have <b>socketbot</b> for company who'll report on any game related news.
