#viewport {
    border:1px solid #000;
}

#lobby ul li {
    cursor:pointer;
}

#lobby ul li.me {
    cursor:default;
}

#debug {
    padding:0.25em;
    font-size:9px;
    background:#000;
    color:#fff;
    position:fixed;
    bottom:0;
    right:0;
}
