#wrapper {
    min-height:320px;
}

#lobby tr td.opponent {
    cursor:pointer;
}

#lobby .userlist {
    min-height:300px;
}

#lobby tr td.me {
    cursor:default;
}

#debug {
    padding:0.25em;
    font-size:9px;
    background:#000;
    color:#fff;
    position:fixed;
    bottom:0;
    right:0;
}

#debug span {
    display:inline-block;
    margin:0 1em;
}

#debug #fps {
    width:45px;
}

#volume {
    cursor:pointer;
}

#outer {
    position:relative;
    height:600px; /* same as the canvas within it */
    padding-bottom:1em;
}

#outer #viewport {
    border:1px solid #000;
    position:absolute;
}

#outer .stats {
    position:absolute;
    z-index:1;
    top:0;
    font-size:48px;
    padding:20px 10px;
    font-weight:bold;
}

#outer #p1 {
    left:0;
}

#outer #p2 {
    right:0;
}

#outer #countdown {
    position:absolute;
    z-index:1;
    text-align:center;
    width:100%;
    font-size:56px;
    font-weight:bold;
    padding:20px 0;
}

#outer #touchControls {
    position:absolute;
    z-index:1;
    text-align:center;
    bottom:0;
    left:20%;
    /**
     * disable copy / paste dialog on an over eager touch
     */
    -webkit-user-select: none;
}

#touchControls div {
    background:#000;
    color:#fff;
    font-weight:bold;
    margin: 0 1.25em;
    float:left;
    width:45px;
    height:45px;
}

#touchControls div:active {
    background:#fff;
    color:#000;
}

.chatbubble,
#chatform {
    position:absolute;
}

#chatform input,
.chatbubble {
    background:#000;
    color:#fff;
}

.chatbubble {
    max-width:250px;
    padding:0.5em;
    border-radius:12px;
    font-weight:bold;
    font-size:15px;
    -moz-border-radius:12px;
}

.chatbubble:after {
    content:"";
    display:block;
    width:0;
    height:0;
    position:absolute;
    top:100%;
    border:6px solid;
    border-color: #000 transparent transparent;
}

.chatbubble.left:after {
    left:11px;
}

.chatbubble.right:after {
    right:11px;
}

#lobby #chat-container {
    border:1px solid gray;
    height:250px;
    overflow:hidden;
    position:relative;
}

#lobby #chat {
    position:absolute;
    width:100%;
    bottom:0;
    background:#fff;
}

#chat .author {
    font-weight:bold;
}

#chat .chatline {
    padding:0.35em 0.1em;
}

#chat .chatline.game {
    background:#ddf;
}

#chat .chatline.game-cancelled {
    background:#fdd;
}

#chat .chatline.game-defaulted {
    background:#faa;
}

#chat .chatline.game-finished {
    background:#dfd;
}

.chatline time {
    width:55px;
    display:inline-block;
}

.chatline:nth-child(odd) {
    background:#f7f7f7;
}

.chatline:nth-child(even) {
    background:inherit;
}

h4.challenge {
    text-align:right;
    line-height:auto;
}

.topbar {
    position:relative;
    padding-bottom:1em;
}

#footer .share {
    float:right;
}

dl dt {
    float:left;
    width:110px;
}

dl dt:after {
    content:": ";
}

#users table td a {
    float:right;
}

#ranking_chart {
    height:500px;
}
