#lobby ul li {
    cursor:pointer;
}

#lobby ul li.me {
    cursor:default;
}

#debug {
    padding:0.25em;
    font-size:9px;
    background:#000;
    color:#fff;
    position:fixed;
    bottom:0;
    right:0;
}

#outer {
    position:relative;
}

#outer #viewport {
    border:1px solid #000;
    position:absolute;
}

#outer .stats {
    position:absolute;
    z-index:1;
    top:0;
    font-size:48px;
    padding:20px 10px;
    font-weight:bold;
}

#outer #p1 {
    left:0;
}

#outer #p2 {
    right:0;
}

.chatbubble,
#chatform {
    position:absolute;
}

.chatbubble {
    max-width:250px;
    background:#eee;
    padding:0.5em 1em;
    border-radius:12px;
    font-weight:bold;
    -moz-border-radius:12px;
}
