#game
    #debug
        span#volume Toggle Volume
        span#fps
    h1 Waiting for opponent...
    #outer
        canvas#viewport(width='940', height='600')
        #p1.stats
        #p2.stats
        #countdown
