#intro
    .page-header
        h1 You're registered!

    h2 Welcome to Socket2M!

    p Some intro blurb about the game, controls etc will go here.

    a(href='#', class='btn success proceed') Continue to the lobby
