#login
    .page-header
        h1 Welcome
    .row
        .span11
            .page-header
                h2 Login <small>(or <a href="#" class="register">register</a>)</small>
            p
             | Please login below using your username and password. If you don't have
             | an account yet, <a href="#" class='register'>register</a> to get playing right away!

            form(method='post', action='')
                .clearfix
                    label(for='username') Username *
                    .input
                        input(type='text', name='username', id='username', required='', placeholder='')
                .clearfix
                    label(for='password') Password *
                    .input
                        input(type='password', name='password', id='password', required='', placeholder='')
                .actions
                    input(type='submit', value='Login', class='btn success')
        .span5
            .page-header
                h2 <a href="/about">About</a>
            p
             | Sock it to 'em is a real time multiplayer game where the aim is to duel it out
             | with an opponent - whoever has the most kills when time runs out is the winner!

            p
             | You can find out more about the game including information about the <a href="/about#rules">rules</a>,
             | <a href="/about#controls">controls</a> and <a href="/about#rankings">rankings</a> over on the
             | <a href="/about">about</a> page.
            
            p This game is proudly brought to you by <a href="http://paynedigital.com">Payne Digital</a>.
