extends layout
block content
    .page-header
        h1 About &quot;Sock it to 'em!&quot;

    .row
        .span11
            p
             | <b>Sock it to 'em</b> is a real time multiplayer game where the aim is
             | to duel it out with an opponent - whoever has the most kills within the
             | time limit wins!

            .page-header
                h2 Getting started
            p
             | Simply head over to the <a href="/">home page</a> and login. If you
             | don't already have an account, you can register (for free) and begin playing
             | immediately. Once you're authenticated, you'll find yourself in the lobby.

            .page-header
                h2#the-lobby The lobby

            include includes/lobby

            .page-header
                h2#the-game The Game
            ol
                li <a href="#basics">Basics</a>
                li <a href="#controls">Controls</a>
                li <a href="#rules">Rules</a>
                li <a href="#cancellation">Cancellation</a>
                li <a href="#forfeits">Forfeits</a>
                li <a href="#sudden-death">Sudden death</a>
                li <a href="#rankings">Rankings</a>


            include includes/game-simple
            include includes/game-extended

        .span5
            .page-header
                h2 Technical Information
            p
             | This game is developed and maintained by
             | <a href="http://paynedigital.com">Payne Digital Ltd</a>.

            p
             | It is written in JavaScript - <a href="http://nodejs.org">node.js</a> powers the server
             | side of things whilst your browser's JavaScript interpreter takes care
             | of the client side code.

            p
             | The network communication is powered by the fantastic <a href="http://socket.io">socket.io</a>
             | library which leverages modern browsers' WebSockets capabilities.

            p The game uses no flash - just HTML5, CSS and JavaScript.
