!!! 5
html(lang="en")
    head
    meta(charset='utf-8')
    title Sock it to 'em!
    link(href='/css/bootstrap-1.3.0.min.css', rel='stylesheet', type='text/css')
    link(href='/css/main.css', rel='stylesheet', type='text/css')
body
    div.topbar
        div.topbar-inner
            div.container
                h3 
                    a(href='#') Socket2M
                        span#state-wrapper(style='display:none')
                            span#state-title
    div#wrapper.container !{body}
    #footer
        div.well
